.dress_img img {
	width: 430px;
	height: 430px;
}

.dress_Information {
	margin: auto;
	height: 300px;
	padding-top: 150px;
	padding-bottom: 300px;
}

.dress_img {
	display: flex;
	width: 48%;
	place-content: center;
	float: left;
}

.dress_Side {
	float: left;
	width: 51%;
}

.dress_price {
	font-family: Go, Arial, malgun gothic,
		�솾�꺂�뒧占쎈뎐嶺뚣끇커占쎌맶�뜝�럥�몶占쎈쐻占쎈쑆泳�怨��렭癰귨퐦�삕占쎈섣占쎌굲, NanumGothic, dotum,
		�뜝�럥�맶�뜝�럥�쑅嶺뚯빘沅랃옙�맶�뜝�럥吏쀥뜝�럩援�, sans-serif;
	font-weight: bold;
	display: flex;
	float: right;
}

.dress_name {
	font-family: Go, Arial, malgun gothic,
		�솾�꺂�뒧占쎈뎐嶺뚣끇커占쎌맶�뜝�럥�몶占쎈쐻占쎈쑆泳�怨��렭癰귨퐦�삕占쎈섣占쎌굲, NanumGothic, dotum,
		�뜝�럥�맶�뜝�럥�쑅嶺뚯빘沅랃옙�맶�뜝�럥吏쀥뜝�럩援�, sans-serif;
	font-weight: bold;
	display: flex;
}

hr.dress_line {
	width: 100%;
	border-bottom: 3px;
	text-align: center;
}

.totalprice {
	font-family: Go, Arial, malgun gothic,
		�솾�꺂�뒧占쎈뎐嶺뚣끇커占쎌맶�뜝�럥�몶占쎈쐻占쎈쑆泳�怨��렭癰귨퐦�삕占쎈섣占쎌굲, NanumGothic, dotum,
		�뜝�럥�맶�뜝�럥�쑅嶺뚯빘沅랃옙�맶�뜝�럥吏쀥뜝�럩援�, sans-serif;
	font-weight: bold;
	color: #666;
	width: 250px;
	height: 50px;
	padding-left: 17%;
	float: left;
	margin-top: 100px;
}

.totalprice_but {
	font-family: Go, Arial, malgun gothic,
		�솾�꺂�뒧占쎈뎐嶺뚣끇커占쎌맶�뜝�럥�몶占쎈쐻占쎈쑆泳�怨��렭癰귨퐦�삕占쎈섣占쎌굲, NanumGothic, dotum,
		�뜝�럥�맶�뜝�럥�쑅嶺뚯빘沅랃옙�맶�뜝�럥吏쀥뜝�럩援�, sans-serif;
	font-weight: bold;
	color: #666;
	width: 250px;
	height: 50px;
	padding-left: 17%;
	float: left;
	margin-top: 100px;
}

#detilButton {
    border-radius: 5px;
	font-weight: bold;
	background-color: #263343;
	color: white;
	border: 0;
	width: 49%;
	height: 40px;
}

#cart_order {
	float: left;
	width: 51%;
	text-align: -webkit-center;
}

.Datail_title {
	height: 30px;
	width: 100%;
	border: 1px solid #d7d5d5;
}

.Datail_content {
	height: 100px;
	width: 100%;
	border: 1px solid #d7d5d5;
}

@media screen and (max-width: 1550px) {
	.totalprice {
		margin-left: 13%;
	}
	.totalprice_but {
		margin-left: 19%;
		margin-top: 50px;
	}
}

@media screen and (min-width: 900px) {
	.Datail_title {
		height: 30px;
		width: 760px;
		border: 1px solid #d7d5d5;
	}
	.Datail_content {
		height: 100px;
		width: 760px;
		border: 1px solid #d7d5d5;
	}
}

@media screen and (max-width: 1350px) {
	.totalprice {
		width: 100%;
	}
}

@media screen and (max-width: 950px) {
	.dress_Information {
		flex-direction: column;
		display: inline-flex;
		width: 100%;
		align-items: center;
	}
	.dress_img {
		width: 100%;
	}
	.dress_img img {
		width: 430px;
	}
	.dress_Side {
		width: 100%;
	}
	.totalprice {
		margin-top: 30px;
		margin-left: 17%;
	}
	.totalprice_but {
		margin-left: 22%;
	}
	#cart_order {
		margin-left: 25%;
	}
	#listimg img {
		width: 230px;
	}
	#listimg {
		align-items: center;
	}
}

#listimg img {
	width: 550px;
}

#listimg {
	text-align: center;
}

#totalp {
	background-color: transparent;
	border: 0 solid black;
	text-align: right;
	size
	=11;
}

#price {
	font-family: Go, Arial, malgun gothic,
		�솾�꺂�뒧占쎈뎐嶺뚣끇커占쎌맶�뜝�럥�몶占쎈쐻占쎈쑆泳�怨��렭癰귨퐦�삕占쎈섣占쎌굲, NanumGothic, dotum,
		�뜝�럥�맶�뜝�럥�쑅嶺뚯빘沅랃옙�맶�뜝�럥吏쀥뜝�럩援�, sans-serif;
	font-weight: bold;
	width: 385px;
	height: 50px;
	float: left;
	text-align: right;
}

#dress {
	margin: auto;
	width: 1250px;
	height: 500px;
	margin-top: 150px;
}

.Imgselect {
	width: 30%;
	padding: 3px;
	height: 30px;
	margin-bottom: 20px;
}

#QandA_insert {
	width: 100%;
	height: 430px;
	margin: auto;
	text-align: center;
}

.QandA_in {
	font-weight: bold;
	background-color: #263343;
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	width: 50%;
}

#QQAA {
	font-size: 12px;
	text-align: center;
	padding: 30px;
	margin: auto;
	color: #999;
	margin-bottom: -20px;
}

#QandA_list {
	height: 100%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#list {
	margin-top: 20px;
}

#Qlist {
	font-size: 12px;
	text-align: center;
	border: 1px solid black;
	border-top: 1px solid #333;
	margin: auto;
	color: #999;
	width: 900px;
	margin-bottom: 80px;
}

#FABRIC {
	text-align: center;
	font-size: 13px;
	color: rgb(53, 53, 53);
	font-family: tahoma, Dotum, Arial, "Malgun Gothic", Dotum, AppleGothic,
		sans-serif;
}

table#Qlist td {
	border-bottom: 1px solid #d7d5d5;
	height: 40px;
}

table#Qlist {
	border-collapse: collapse;
	border-top: 1px solid #333;
	border: 1px solid #d7d5d5;
	width: 907px;
	margin: auto;
	color: #999;
	font-weight: normal;
}

#qandacontent {
	padding-top: 100px;
	padding-bottom: 100px;
}